{% load static %}

<!DOCTYPE html>
<html lang="en" style="background-color: rgb(22, 33, 62); color: white;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>

<body>
    <h1>Register Now</h1>
    <form method="POST" action="register" autocomplete="off" style="background-color: rgb(22, 33, 62); box-shadow: 2px 2px 30px solid rgb(22, 33, 62);">
        
        {% csrf_token %}
        
        
        <div class="login-form">
            <h1>Let's create an account</h1>

            <div>
                <label>Full name :</label>
                <input type="text" name="name" placeholder="Your name here....">
            </div>

            <div>
                <label>Username :</label>
                <input type="text" name="username" placeholder="Username here..">
            </div>

            <div>
                <label>Email :</label>
                <input type="email" name="email" placeholder="Email Address">
            </div>

            <div>
                <label>Password :</label>
                <input type="password" name="password1" placeholder="Enter Password">
            </div>

            <div>
                <label>Confirm Password :</label>
                <input type="password" name="password2" placeholder="Confirm Password">
            </div>


            <div class="login-button">
                <input type="submit" value="Register">
            </div>
        </div>
    </form>

    <div class="login-redirect">
        <a href="index">Back to Login</a>
    </div>


</body>

</html>